.footer {
  height: 1000px;
}
.facebook-icon {
  padding: 5px 14px;
  margin-right: 35px;
  background-color: #3b5998;
  border-radius: 50px;
}
.tiktok-icon {
  padding: 5px 11px;
  margin-right: 35px;
  background-color: #1e1e1e;
  border-radius: 50px;
}
.instagram-icon {
  padding: 5px 11.5px;
  margin-right: 35px;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  border-radius: 50px;
}
.text-reset {
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.5px;
}

.text-reset:hover {
  color: #818181;
}
