@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,600&display=swap');
@import '~bootstrap/scss/bootstrap';

//Global-varaible 

:root {
  --fs-16:16px;
  --ff-mon: 'Montserrat', sans-serif;
}

html {
  font-size: 0.6rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 0.8rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.2rem;
  }
}

body {
  font-family: var(--ff-mon);
  font-size: 1.6rem;
}
