@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,600&display=swap');
@import '~bootstrap/scss/bootstrap';

//Global-varaible 

:root {
  --fs-16:16px;
  --ff-mon: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
  font-family: var(--ff-mon);
  font-size: 1.6rem;
}
