@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
@import '~bootstrap/scss/bootstrap';

//Global-varaible

:root {
  --fs-16: 16px;
  --ff-mon: 'Open Sans', sans-serif;
}

html {
  font-size: 0.4rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 0.8rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.2rem;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--ff-mon);
}

body {
  font-size: 1.6rem;
}
