.wrapper {
  margin-bottom: 50px;
}

.title {
  font-weight: bold;
  margin: 20px 0px;
  letter-spacing: 1px;
}
li {
  margin: 10px 0px;
}

ul {
  margin: 10px 0px;
}

.brand {
  font-weight: bold;
  letter-spacing: 5px;
}

.slogan {
  font-weight: bold;
  letter-spacing: 2px;
}
