.your-section-class {
  padding: 20px;
}

.your-container-class {
  border: 1px solid;
  padding: 20px;
}

.your-row-class {
  margin: 0;
}

.conten-page {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}
