@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

.wrapper {
  font-style: --ff-mon;
}

.header {
  padding-left: 10px;
  background-color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: 'Open Sans', sans-serif;
}
