.wrapper {
  top: 0;
  height: 200px;
  width: 100%;
  border: 1px;

  //background-color: black;
}

.inner {
  display: flex;
  height: 150px;
  width: 70%;
  align-items: center;
  margin: 0px auto;

  //background-color: red;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 22px;
}

.nav-logo {
  color: black;
  text-decoration: none;
  font-weight: bolder;
  letter-spacing: 10px;
  font-size: 2rem;
}

.nav-items {
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bolder;
  letter-spacing: 1px;
}

.nav-logo:hover {
  color: #000000;
}

.nav-items:hover {
  color: #000000a4;
}

.logo {
  font-size: 30px;
}

.product-item {
  text-decoration: none;
  color: black;
}

.product-item:hover {
  color: rgb(106, 106, 106);
}

.list-product {
  color: black;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1px;
}

@media (max-width: 1148px) {
  .nav-items {
    font-size: 0.7rem;
  }
}

@media (max-width: 990px) {
  .inner {
    opacity: 0;
  }
  .wrapper {
    height: 50px;
  }
}
